<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="MyConnectionString" connectionString="server = localhost; port = 3306; username = root; password =; database = itsm;"
			 providerName ="MySql.Data.MySqlClient"/>
		</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>


